*{box-sizing: border-box;
}
body{

	font-family: 'Montserrat' , Arial;
  overflow: hidden;
}

a{
	text-decoration: none;
}
#medo{
  
}

.phome{
	
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 100px;
	margin-right: 20px;
}

.pcontact{
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
}

.pi{
margin: 20px 40px;
position: relative;

}

.p{
	color: rgb(0,0,0,1);
}

.p:hover{
	color: rgb(0,0,0,.5);
	box-shadow: 0 1px #999;
	transition-duration: 0.1s;
}

.mijnnaam{
	text-align: center;
	background-color: rgb(0,0,0,.9);
	color: white;
	margin: 50px 300px;
	padding: 10px;
	font-size: 25px;
	font-family: 'Montserrat' , Arial;
  border-radius: 20px 0 20px 0;
}

.mijnnaam:hover{
	text-align: center;
	background-color: white;
	color: black;
	margin: 50px;
	font-size: 25px;
	font-family: 'Montserrat' , Arial;
		transition: ease-in-out 0.4s;
}

.slideshow-cont {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-left: 25%;
}

.mijnSlides {
  display: none;

}

.voor, .volgende {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.volgende {
  right: 230px;
  border-radius: 3px 0 0 3px;
}

.voor:hover, .volgenda:hover {
  background-color: rgb(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.nummertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 94%;
  left: 37%;
}

.dot {
  cursor: pointer;
  height: 15px;
  widows: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, dot:hover {
  background-color: #717171;
}

.medo {
  animation-name: medo;
  animation-duration: 1.5s; 
}

@keyframes medo {
  from {opacity: .4}
  to {opacity: 1  }
}
