*{
	margin: 0;
	padding: 0;
}

body{
    background-image: url(../foto/background-home.jpg); 
	background-size: auto;
	background-repeat: no-repeat;
	font-family: 'Montserrat', arial ;
	overflow: hidden;
	font-family: 'Inconsolata', monospace;
}

a{
	text-decoration: none;
	color: white;
	margin: 10px 10px;
	position: relative;
	z-index: 2;
	}

.cont{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 100px 1fr;
}

.item {
	grid-column: 1/2;
	grid-row: 1/2;
}

.pi{
margin: 20px 40px;
position: relative;
color: white;
z-index: 2;

}

.item1{
	grid-column: 4/5;
	grid-row: 1/2;
	position: relative;
	top: 20px;
	left: 205px;
	z-index: 2;



}
p{
	
    color: white;
    margin: 30px 90px;
    font-size: 30px;
    border-radius: 25%;
    display: inline-block;
}
.text{
	position: relative;
	z-index: 2;
}

.text1{
	grid-column: 1/2 ;
	grid-row: 3/4;
	color: white;
	position: relative;
}

.text2{
	grid-column: 2/3 ;
	grid-row: 3/4;

	position: relative;
}
.text3{
	grid-column: 3/4 ;
	grid-row: 3/4;

	position: relative;
}
.text4{
	grid-column: 4/5 ;
	grid-row: 3/4;
	z-index: 1;

	position: relative;

}
.se1{
	grid-column: 1/2 ;
	grid-row: 1/5;
    z-index: 1;
 	opacity: 0;
}
.se1:hover{
	opacity: .7;
	transition:  1s linear;
	background-image: url("../foto/hobby.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}



.se2{
	grid-column: 2/3 ;
	grid-row: 1/5;

	opacity: 0;
	
}
.se2:hover{

opacity: .7;
	transition:  1s linear;
	background-image: url("../foto/progrumeer.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	opacity: .8;

}

.se3{
	grid-column: 3/4 ;
	grid-row: 1/5;
	opacity: 0;
}
.se3:hover{
	opacity: .9;
	transition:  1s linear;
	background-image: url("../foto/over-mij.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;

}
.se4{
	grid-column: 4/5 ;
	grid-row: 1/5; 
 	opacity: 0;
}
.se4:hover{
opacity: .7;
	transition:  1s linear;
	background-image: url("../foto/diploma.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

