
body{
  box-sizing: border-box;
	font-family: 'Montserrat', Arial;
  width: 70%;
  margin: 50px auto;

}

a{
	text-decoration: none;


		}



.phome{
	
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 100px;
	margin-right: 20px;
		
}
.pcontact{
	
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
		

}

.pi{
margin: -33px -201px;
position: relative;

}
.p{
	color: rgb(0,0,0,1);
}
.p:hover{
	color: rgb(0,0,0,.5);
	box-shadow: 0 1px #999;
	transition-duration: 0.1s;
}

.contact{
	width: 800px;
	height: 550px;
	background-color: rgb(0,0,0,.0);
	margin: 25px auto;


}
.mijnnaam{
	text-align: center;
	background-color: rgb(0,0,0,.9);
	color: white;
	margin: 50px 300px;
	padding: 10px;
	font-size: 25px;
	font-family: 'Montserrat', Arial;
  border-radius: 20px 0 20px 0;

}
.mijnnaam:hover{
	text-align: center;
	background-color: white;
	color: black;
	margin: 50px;
	font-size: 25px;
	font-family: 'Montserrat', Arial;
		transition: ease-in-out 0.4s;

}
.parallax {
  background-image: url(../foto/camera.jpg);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px #818181;
}
.parallax2 {
  background-image: url(../foto/camera1.jpg);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 20px;
  box-shadow: 0px 0px 40px 0px #818181;
}
.parallax3 {
  background-image: url(../foto/zee.jpg);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 20px;
  box-shadow: 0px 0px 40px 0px #818181;
}
.parallax4 {
  background-image: url(../foto/world-Cup.jpg);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 20px;
  box-shadow: 0px 0px 40px 0px #818181;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
img{
  width: 100%;
  height: 100%;
    border-radius: 20px;

}
