
body{

	font-family: 'Montserrat', sans-serif;
	overflow: hidden
}

a{
	text-decoration: none;


		}


.phome{
	
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 100px;
	margin-right: 20px;
		
}
.pcontact{
	
	margin: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
		

}

.pi{
margin: 20px 40px;
position: relative;

}
.p{
	color: rgb(0,0,0,1);
}
.p:hover{
	color: rgb(0,0,0,.5);
	box-shadow: 0 1px #999;
	transition-duration: 0.1s;
}

.contact{
	width: 800px;
	height: 550px;
	background-color: rgb(0,0,0,.0);
	margin: 25px auto;


}
.mijnnaam{
	text-align: center;
	background-color: rgb(0,0,0,.9);
	color: white;
	margin: 50px 300px;
	padding: 10px;
	font-size: 25px;
	font-family: 'Permanent Marker', cursive;
}
.mijnnaam:hover{
	text-align: center;
	background-color: white;
	color: black;
	margin: 50px;
	font-size: 25px;
	font-family: 'Permanent Marker', cursive;
		transition: ease-in-out 0.4s;

}
.info{
    margin: -154px 72px;
    font-size: 25px;
    opacity: .6;
    width: 500px;

}
.info:hover{
	opacity: .9;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    top: -74px;
    left: -275px;
    position: absolute;
    opacity: .6;

}
.title:hover{
	opacity: .9;
}
.dtitle{
	width: 800px;
	height: 200px;
	background-color:;
	position: relative;
	top: 70px;
	left:350px;

}
