body{

    font-family: 'Montserrat' , Arial;

    
}

a{
    text-decoration: none;



        }


.phome{
    
    margin: 20px;
    position: absolute;
    top: 5px;
    right: 100px;
    margin-right: 20px;
        
}
.pcontact{
    
    margin: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
        

}

.pi{
margin: 20px 40px;
position: relative;

}
.p{
    color: rgb(0,0,0,1);
    font-size: 18px;

}
.p:hover, h1:hover{
    color: rgb(0,0,0,.5);

    transition-duration: 0.1s;
}

.mijnnaam{
    text-align: center;
    background-color: rgb(0,0,0,.9);
    color: white;
    margin: 50px 300px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Montserrat' , Arial;
    border-radius: 20px 0 20px 0;

}
.mijnnaam:hover{
    text-align: center;
    background-color: white;
    color: black;
    margin: 50px;
    font-size: 25px;
    font-family: 'Montserrat' , Arial;
        transition: ease-in-out 0.4s;

}
.card {
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    box-shadow: 0px 0px 40px 0px #818181;
    
}

.title {
    color: grey;
    font-size: 18px;
}
.title:hover{
    color: black;
}
button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;

}
button:hover, a:hover{
    opacity: 0.7;
   
}
.flip-card {
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color:  white;
    color: black;
    font-size: 20px;
    transform: rotateY(180deg);


}
.mijn-info {
text-align: left;
margin-left: 50px;
line-height: 30px;
}